.form-group {
  // margin-bottom: 30px;
  position: relative;

  label {
    font-size: 14px;
    font-weight: 500;
    color: $body-color;
    margin-bottom: 10px;
    background: transparent;
    border-color: $border-color;
  }
}

.form-control {
  border-radius: 4px;
  // height    : 50px;
  border: 1px solid transparent;
  padding: 0px 15px;
  font-size: 16px;
  font-weight: 400;
  color: $body-color;
  transition: all 0.3s ease-in-out;
  background: $body-bg;
  border: 1px solid transparent;

  .select {
    padding: 12px 0;
  }

  span {
    margin-top: 0;
  }

  &::-webkit-input-placeholder {
    color: $body-color;
  }

  &:-ms-input-placeholder {
    color: $body-color;
  }

  &::placeholder {
    color: $body-color;
  }
  &:focus,
  &:active,
  &.active {
    border-color: $primary;
  }
}

input:-internal-autofill-selected {
  background: lighten($body-bg, 2%) !important;
  background-image: none !important;
  color: -internal-light-dark-color(black, white) !important;
}

// span {
//     margin-top : 20px;
//     font-size  : 18px;
//     font-weight: 400;
//     color      : $text-muted;
//     display    : inline-block;
// }
.input-group-text {
  // font-size    : 20px !important;
  padding: 5px 15px;
  background: $body-bg;
  margin-bottom: 0px !important;
  color: $body-color;
  border-color: transparent;
}

.input-group-append {
  .input-group-text {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.input-group-prepend {
  .input-group-text {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
button:hover,
button:active,
button:focus {
  outline: 0;
}

/*Styling Selectbox*/

//
.toggle {
  cursor: pointer;
  display: block;
  // margin-bottom: 30px !important;
}

.toggle-switch {
  display: inline-block;
  background: darken($body-bg, 3%);
  border-radius: 16px;
  width: 45px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;

  &:before,
  &:after {
    content: "";
  }

  &:before {
    display: block;
    background: linear-gradient(to bottom, $white 0%, #eee 100%);
    border-radius: 50%;
    // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 17px;
    height: 17px;
    position: absolute;
    top: 1px;
    left: 3px;
    transition: left 0.25s;
  }

  .toggle:hover &:before {
    background: linear-gradient(to bottom, $white 0%, $white 100%);
    // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }

  .toggle-checkbox:checked + & {
    background: $primary;

    &:before {
      left: 26px;
    }
  }
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 15px;
  position: relative;
  top: 2px;
  font-size: 16px;
  font-weight: 400;
}

// Upload btn
.file-upload-wrapper {
  position: relative;
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  border: 1px solid $border-color;
  border-radius: 5px;
  color: $text-muted;

  &:after {
    content: attr(data-text);
    // font-size  : 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: $body-bg;
    padding: 4px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: calc(1.5em + 1rem + 2px);
    line-height: 50px - 20px;
    // color      : #fff;
    border-radius: 5px 10px 10px 5px;
    font-weight: 400;
    overflow: hidden;
  }

  &:before {
    content: "Upload";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: calc(1.5em + 1rem + 2px);
    background: $primary;
    color: $white;
    font-weight: 400;
    z-index: 25;
    font-size: 14px;
    line-height: 40px;
    padding: 0 15px;
    text-transform: capitalize;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    &:before {
      background: darken($primary, 10%);
    }
  }

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: calc(1.5em + 1rem + 2px);
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
}

// Date picker
#ui-datepicker-div {
  display: none;
  background: darken($body-bg, 2%);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ui-datepicker-calendar {
  thead th {
    padding: 0.25rem 0;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    color: $body-color;
  }

  tbody td {
    width: 2.5rem;
    text-align: center;
    padding: 0;

    a {
      display: block;
      border-radius: 0.25rem;
      line-height: 2rem;
      transition: 0.3s all;
      color: $body-color;
      font-size: 0.875rem;
      text-decoration: none;

      &:hover {
        background-color: $primary;
        color: white;
      }

      &.ui-state-active {
        background-color: $primary;
        color: white;
      }
    }
  }
}

.ui-datepicker-header a {
  &.ui-corner-all {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.3s all;

    &:hover {
      background-color: lighten($primary, 30%);
      color: $white;
    }
  }

  &.ui-datepicker-prev {
    left: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: 50%;
    transform: rotate(180deg);
  }

  &.ui-datepicker-next {
    right: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;
  }

  > span {
    display: none;
  }
}

.ui-datepicker-title {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}

.ui-datepicker-week-col {
  color: $body-color;
  font-weight: 400;
  font-size: 0.75rem;
}

// Validation Error
label.error {
  color: $danger;
  position: absolute;
  bottom: 0;
  margin-bottom: -22px;
  font-size: 12px;
  font-weight: 400;
}

// Nice Select
.nice-select {
  display: flex;
  align-items: center;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;

  ul {
    width: 100% !important;
  }
}

.nice-select .list {
  background: $dark;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: $dark;
  color: $primary;
}

// Select Opting
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
.bootstrap-select {
  border: 1px solid transparent;
  .dropdown-toggle {
    border: 0 !important;
    padding: 0;
    font-weight: normal;
    text-transform: unset;
    outline: none;
    &:focus {
      outline: 0 !important;
      outline-offset: 0;
    }
    &:after {
      content: none;
    }
  }
  &.show {
    box-shadow: none !important;
    outline: 0px !important;
    .dropdown-toggle {
      box-shadow: none !important;
      outline: 0px !important;
    }
    &.btn-group .dropdown-menu.inner {
      display: block;
    }
  }
  .dropdown-menu {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-top: -1px;
    padding: 10px 0;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    font-size: 14px;
    ul li {
      padding: 0;
      a {
        display: block;
        padding: 8px 20px;
        clear: both;
        font-weight: 400;
        color: #333;
        white-space: nowrap;

        img {
          border-radius: 100%;
          -webkit-border-radius: 100%;
          margin-right: 5px;
        }
        &:hover {
          background-color: #f2f2f4;
        }
      }
      &.selected {
        a {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
  &:focus,
  &:active,
  &.active {
    border-color: $primary;
  }
}

.input-group {
  margin-bottom: 20px;
}
.input-group-prepend {
  position: absolute;
  left: 10px;
  top: 22.5px;
  z-index: 99;
  transform: translateY(-50%);
  background-color: transparent;
  border-right: 1px solid $secondary;
  margin-right: 10px;
  .input-group-text {
    justify-content: center;
    padding: 0;
    width: 40px;
    height: 20px;
    background-color: transparent;
    i {
      color: $secondary;
      font-size: 18px;
    }
  }
}
.input-group-prepend + .form-control,
.input-group-prepend + .form-control + .bootstrap-select,
.input-group-prepend + .form-control + .custom-file-label {
  padding: 10px 20px 10px 65px;
}
.form-control {
  box-shadow: 0 0px 10px 4px rgba(31, 66, 135, 0.1);
  height: 45px;
  border-radius: $border-radius !important;
  padding: 10px 20px;
  position: relative;
  font-size: 15px;
}
textarea {
  height: 120px !important;
  resize: none;
}
.bootstrap-select.btn-group {
  padding: 10px 20px;
  border-width: 1px;
  &.show {
    box-shadow: 0 0px 10px 4px rgba(31, 66, 135, 0.1) !important;
    border-color: $primary;
  }
  .form-control {
    .dropdown-toggle {
      &.btn-default {
        padding: 0;
      }
    }
  }
  .dropdown-toggle {
    .caret {
      font-size: 10px;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      &:before {
        content: "\f078";
      }
    }
  }
}
.custom-file-label {
  box-shadow: 0 0px 10px 4px rgba(31, 66, 135, 0.1);
  height: 45px;
  border-radius: 30px !important;
  padding: 10px 20px;
  font-size: 15px;
  border-color: transparent;
  &:after {
    content: none !important;
  }
}

.dlab-form {
  &.style-1 {
    padding: 50px;
    box-shadow: 0 0px 10px 4px rgba(31, 66, 135, 0.1);
    background-color: $white;
    border-radius: 10px;
    .form-control {
      border-top-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    @include respond("tab-port") {
      padding: 30px;
    }
  }
}
